<html>
<head>
	<title>FootballPlay</title>
	<% include header %>
	
</head>
<body>
	<h2>Players</h2>
	 		<table class="table table-striped table-hover table-condensed table-bordered">
	 			<thead>
	 				<th>Players</th>
	 				<th>Player's Country</th>
	 				<th>Jersy Number</th>
	 				<th>Position</th>

	 			</thead>
	 			<br>
			  	<tbody>
			      	<% for(var i= 0; i < playerList.length; i++) {
		  				var player = playerList[i];
		  				%><tr>
		  					<td>		  		
			     			 	<%=  player.pname %>
	   				 			<br>
			   				</td>	
			   				<td>
							 	<%=  player.country %> 	
			   					<br>
			   				</td>
			   				<td>
			         			 <%=  player.jnum %> 	
			   				 <br>
			   				</td>
			   				<td>
			     			 <%=  player.position %> 	
			   				 <br>
			   				</td>
			   			  </tr>
			   		<% } %>
			   	</tbody>
			</table>
			<h2>Teams</h2> 
			<table class="table table-striped table-hover table-condensed table-bordered">
	 			<thead>
	 				<th>Team Name</th>
	 			</thead>
	 			
			  	<tbody>
			      	<% for(var i= 0; i < teamList.length; i++) {
		  				var team = teamList[i];
		  				%><tr>
		  					<td>		  		
			     			 	<%=  team.name %>
	   				 			<br>
			   				</td>	
			   			  </tr>
			   		<% } %>
			   	</tbody>
			</table> 
				<br>
	 		<table class="table table-striped table-hover ">
	 			<thead>
	 				<th>Country</th>	
	 			</thead>
	 			<h2>Countries</h2>
			  	<tbody>
			      	<% for(var i= 0; i < countryList.length; i++) {
		  				var country = countryList[i];
		  				%><tr>
		  					<td>		  		
			     			 	<%=  country.name %>
	   				 			<br>
			   				</td>	
			   			  </tr>
			   		<% } %>
			   	</tbody>
			</table> 
 
 
	</body>
<html>